.navbar {
  width: 96%;
  height: fit-content;
  outline: solid red 1px;
  position: absolute;
  top: 2vh;
  padding: 0.8vw;
  display: flex;
  border-radius: 12px;
  justify-content: space-between;
}